@using RandevuSistemiNew.Models
@model List<Users>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Heading -->
<!--<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Kullanıcılar</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Rapor Al
    </a>
</div>-->


<div class="card mt-5">
    <div class="card-header ">
        <h2><b>Kullanıcılar / </b>Kullanıcı Listesi</h2>
    </div>

    <div class="card-body">
        <div class="table-responsive">

            <table id="dataTable" class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>AD-SOYAD</th>
                        <th>BOLUM</th>
                        <th>TELEFON</th>
                        <th>GÖREVİ</th>
                        <th>DURUM</th>
                        <th>İŞLEM</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Users in Model)
                    {
                        <tr>

                            <td>@Users.Fullname</td>
                            <td>@Users.BolumID.ToString()</td>
                            <td>@Users.Phone</td>
                            <td>@Users.Role</td>
                            <td style="color: @(Users.Status.HasValue && Users.Status.Value ? "green" : "red")">
                                @(Users.Status.HasValue ? (Users.Status.Value ? "AKTİF" : "PASİF") : "N/A")
                            </td>

                            <td>
                                <a href="/Admin/UsersSil/@Users.ID" class="btn btn-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">SİL</a>
                                <a href="/Admin/UsersGetir/@Users.ID" class="btn btn-primary">GÜNCELLE</a>
                                @*<a href="/Admin/UsersDetay/@Users.ID" class="btn btn-success">DETAY</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <a href="/Admin/YeniUsers/" class="btn btn-warning">Yeni Kullanıcı Ekle</a>
    </div>
</div>



